
body
  background: image-url("christmas-2012.jpg") no-repeat fixed center
  background-size: cover

  /*font-family: Georgia, serif*/
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif
  /*font-family: "Times New Roman", Times, serif*/
  text-align: center

#logo
  background: #B01302 image-url("lang-logo-402.png")

  height: 100px
  width: 100px
  border-radius: 50%
  border: 2px solid white
  margin: auto

  display: block
  vertical-align: middle

img

h1
  color: white

a
  text-decoration: inherit
  font-style: inherit
  color: inherit

// :link, :hover, :active and :visited = pseudo-elements

a:link, a:visited
  border: none
  text-decoration: underline
  font-style: normal
  color: black

a:hover
  text-decoration: none
  color: #a3211f
