$dark-color: #333
$bright-color: #FFFFFF

html

body
  background-color: $dark-color
  background: image-url("christmas-2012.jpg") no-repeat fixed center
  background-size: cover

  font-family: $serif

#logo
  background: #B01302 image-url("lang-logo-402.png")

  height: 100px
  width: 100px
  border-radius: 50%
  border: 2px solid $bright-color
  display: block
  vertical-align: middle

img

h1
  font-size: 40px
  color: white
  text-align: center

a
  text-align: center
  text-decoration: inherit
  font-style: inherit

#custom-link
  height: 20px
  width: 160px
  color: $bright-color
  background-color: transparent
  padding: 15px 30px
  font-size: 20px
  border-radius: 6px
  border: 2px solid $bright-color
  display: block
  vertical-align: middle

  &:hover
    background-color: $bright-color
    color: $dark-color
    border-width: 0
    font-weight: 900

.v-h-center
  margin: auto
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0
